<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../../vue.js/vue.js"></script>
  </head>
  <body>
    <div id="app">
      姓：<input type="text" v-model="firstName" /> <br />
      名：<input type="text" v-model="lastName" /> <br />
      全名：<input type="text" v-model="fullName" />
    </div>
    <script>
      new Vue({
        el: '#app',
        data: {
          firstName: '张',
          lastName: '三',
          fullName: '张三',
        },
        watch: {
          firstName(val) {
            setTimeout(() => {
              this.fullName = val + '-' + this.lastName;
            }, 1000);
          },
          lastName(val) {
            this.fullName = this.firstName + '-' + val;
          },
        },
      });
    </script>
  </body>
</html>
